/* Estilo renovado para el login con fuente Montserrat */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    background: linear-gradient(135deg, #FFB3BA, #FFDFBA, #FFFFBA, #BAFFC9, #BAE1FF); /* Colores pastel */
    background-size: 400% 400%; /* Hace el degradado más grande para un efecto suave */
    color: #fff; /* Texto en blanco */
    flex-direction: column;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 2px solid #007bff;
    width: 350px;
    max-width: 100%;
    position: relative;
    z-index: 1; /* Asegura que el contenedor esté por encima de otros elementos */
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff; /* Texto en blanco */
    font-weight: 700; /* Peso de la fuente más grueso */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.logo {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff; /* Texto en blanco */
    outline: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat para los inputs */
    transition: background 0.3s ease;
}

input:focus {
    background: rgba(255, 255, 255, 0.2);
}

button[type="submit"] {
    margin-top: 20px;
    padding: 15px 30px;
    background: linear-gradient(135deg, #28a745, #218838);
    color: #fff; /* Texto en blanco */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat para los botones */
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.5);
    text-transform: uppercase;
    width: 100%;
}

button[type="submit"]:hover {
    background: linear-gradient(135deg, #218838, #1e7e34);
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(40, 167, 69, 0.7);
}

button[type="submit"]:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(40, 167, 69, 0.4);
}

.footer {
    font-size: 0.8em;
    color: #fff; /* Texto en blanco */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro para el pie */
}

.footer a {
    color: #00bfff;
    text-decoration: none;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    button[type="submit"] {
        padding: 12px 20px;
    }
    
    .footer {
        font-size: 0.7em;
    }
}
